  body {
      background: url(../images/bg.jpeg);
      background-attachment: fixed;
      background-repeat: no-repeat;
      background-size: cover;
  }

  #con {
      position: absolute;
      left: 50%;
      top: 50%;
      margin-left: -270px;
      margin-top: -50px;
  }